html {
    font-family: 'GillSans', 'Calibri', Trebuchet, sans-serif;
}
.dropdown-content li>a, .dropdown-content li>span {
  color: #ff5722!important;
}
#toast-container {
  top:15% !important;
  right: auto !important;
  bottom: 10%!important;
  left:35%!important;
}
.cover-image img{
  height: 40.2em;
}
.our-team-img img{
  height: 200px;
  box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56), 0 4px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
}
body{
  background-color: #f4f4f4;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-size: 2.56rem;
  font-weight: 300;
}
.Slider-sec{
  height: 650px;
}
.slider{
  height: 600px!important;
}
.slider .indicators{
  position: relative;
  margin-top: 30px;
}
.next:hover{
  opacity: 0.7;
  cursor: pointer;
}
.prev:hover{
  opacity: 0.7;
  cursor: pointer;
}
.next i{
  position: relative;
  top: 250px;
  font-size: 75px;
}
.prev i{
  position: relative;
  top: 250px;
  font-size: 75px;
}
.next{
  background-color: black;
  z-index: 0;
  width: 75px;
  height: 600px;
  position: absolute;
  opacity: 0.3;
  right:0;
}
.prev{
  background-color: black;
  z-index: 0;
  width: 75px;
  height: 600px;
  position: absolute;
  opacity: 0.3;

}
.slider{
  transition: 100ms!important;
}
.slides{
  height: 600px!important;
}
.slider .indicators .indicator-item.active{
  background-color: #ff5722!important;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-size: 2.56rem;
  font-weight: 400;
}
h5{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
}
h6{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
.fullwidth{
  padding: 0px 0px 0px 0px!important;
  margin: 0px 0px 0px 0px;
  max-width: 100%!important;
}
.indicator{
  background-color:#ff5722 !important;
}
.input-field .active{
  color:#ff5722 !important;
}
.input-field input:focus{
  border-bottom:#ff5722 !important;
  box-shadow:0 1px 0 0 #ff5722 !important;
}
.card-content{
  min-height: 180px;
  max-height: 180px;
}
.modal{
  padding: 50px;
  top: 25%!important;
  width:30em;
}
[type="checkbox"]:checked+label:before{
  border-right: 2px solid #ff5722 ;
  border-bottom: 2px solid #ff5722 ;
}
.navbar{
  position: fixed;
  min-width:100%;
  z-index: 1;
}
.Content{
  top: 65px;
  position:relative;;
}
.waves-effect {
  z-index:0;
}
.footer a{
  color: #ff5722;
  background-color: white;
  padding: 0 1rem;
}

.footer a:hover{
  color: white;
  background-color:#ff5722 ;
  padding: 0 1rem;
}
@media only screen and (max-width: 993px){
  .Slider-sec{
    height: 280px;
  }
  .slider{
    height: 230px!important;
  }
  .slider .indicators{
    position: relative;
    margin-top: 30px;
  }
  .next i{
    position: relative;
    top: 85px;
    font-size: 50px;
  }
  .prev i{
    position: relative;
    top: 85px;
    font-size: 50px;
  }
  .next{
    z-index: 0;
    width: 50px;
    height: 230px;
  }
  .prev{
    z-index: 0;
    width: 50px;
    height: 230px;
  }
  .slides{
    height: 230px!important;
  }
  .modal{
    width: 95%!important;
    padding: 20px;
  }
  .cover-image img{
    height: 20.2em;
  }
  .navbar{
    position: fixed;
    min-width:100%;
    z-index: 1;
  }
  .our-team-img img{
    height: 150px;
  }
  #sidenav-overlay{
    z-index: 0;
  }
};
